
.active-status {
    color: #52c41a;
    background-color: #f6ffed;

}



/*#search_emp:focus {
    outline: none;
}*/

#search_emp {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    color: black;
    border: 1px solid #ccc;
}



select {
    padding: 8px;
    font-size: 16px;
    background-color: #f4f4f6;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
}

select:focus {
    outline: none;
}

#employees-page {
    display: none;
}

table td:first-child {
    width: 50px;
    /* Set the desired width for the first (image) column */
}

table {
    text-align: center;
    margin: auto;
    width: 100%;


    /* border-collapse: collapse; */
}

thead {
    background-color: #f4f4f6;
    color: black;
}

td,
th {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 15px;
    margin: 0px;
}

tbody {
    background-color: white;
    color: black;
}
/*
#pagination-wrapper {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
    justify-content: center;
}

#pagination-wrapper button:hover {
    background-color: white;
}

#pagination-wrapper button:focus {
    background-color: #fff;
    color: black;
}

#pagination-wrapper button {
    
}


*/
#footer{
    display: flex;
    margin-top: 1rem;
    position: fixed;
}
#pagination{
    margin-left: 34%;
    position: fixed;
    
}
  
  .pagination-button:hover {
    background-color: #555555;
    color: white;
  }
.pagination-button{
    width: 30px;
    height: 30px;
    font-size: 22px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
#delete-edit{
    display: none;
}



